<section class="user-mgt-modal">
    <div class="user-mgt-create-user">
        <h3>Create A New User</h3>
        <div class="user-mgt-create-form">
            <div class="form-control-container">
                <input placeholder="Enter User's Name"/>
            </div>
            <div class="form-control-container">
                <input placeholder="Enter User's Email"/>
            </div>
            <div class="form-control-container">
                <input  placeholder="Enter User's Phone Number"/>
            </div>
            <div class="form-control-container">
                <input  placeholder="Enter User's Title"/>
            </div>
            <div class="form-control-container">
                <select>
                    <option value="">Select Status</option>
                    <option value="1">Active</option>
                    <option value="0">Inactive</option>
                </select>
            </div>
            <div class="form-control-container">
                <button class="submit">
                    Submit
                </button>
            </div>
            <div class="form-control-container">
                <button class="close">
                    Close
                </button>
            </div>
        </div>
    </div>

    <div class="user-mgt-update-user">
        <h3>Update User</h3>
        <div class="user-mgt-create-form">
            <div class="form-control-container">
                <input placeholder="Enter User's Name"/>
            </div>
            <div class="form-control-container">
                <input placeholder="Enter User's Email"/>
            </div>
            <div class="form-control-container">
                <input  placeholder="Enter User's Phone Number"/>
            </div>
            <div class="form-control-container">
                <input  placeholder="Enter User's Title"/>
            </div>
            <div class="form-control-container">
                <select>
                    <option value="">Select Status</option>
                    <option value="1">Active</option>
                    <option value="0">Inactive</option>
                </select>
            </div>
            <div class="form-control-container">
                <button class="submit">
                    Submit
                </button>
            </div>
            <div class="form-control-container">
                <button class="close">
                    Close
                </button>
            </div>
        </div>
    </div>
</section>

<nav>
    <div class="left">
        <h3 class="user-mg-bolder">User Management Application</h3>
    </div>
    <div class="right">
    </div>
</nav>

<section class="user-mg-users-list container">
    <div class="user-mg-users-list-left">
        <!--
        <div class="user-mg-hero">
            <div class="user-mg-bg-img"></div>
        </div>
        -->
        <ul>
            <li>Menu</li>
            <li><%= image_tag "skills" %>&nbsp;&nbsp;User List</li>
            <li><%= image_tag "add-friend" %>&nbsp;&nbsp;Create User</li>
        </ul>
    </div>
    <div class="user-mg-users-list-right">
        <h3 class="user-list-text">List Of Users</h3>
        <div class="user-mg-user-row">
            <div class="user-mg-user-col">
                <div class="first-letter" style="background-color:#5d6344">P</div>
                <p>Name: <span class="font-weight-bold">Tunmise Akinade</span></p>
                <p>Phone Number: <span class="font-weight-bold">Tunmise Akinade</span></p>
                <p>Email Address: <span class="font-weight-bold">Tunmise Akinade</span></p>
                <p>Status: <span class="font-weight-bold">Tunmise Akinade</span></p>
                <p>Last Updated: <span class="font-weight-bold">Tunmise Akinade</span></p>
                <p>
                    <a class="btn btn-edit">Edit</a>
                    <a class="btn btn-delete">Delete</a>
                </p>
            </div>
            <div class="user-mg-user-col">

            </div>
            <div class="user-mg-user-col">

            </div>
            <div class="user-mg-user-col">

            </div>
            <div class="user-mg-user-col">

            </div>
            <div class="user-mg-user-col">

            </div>
            <div class="user-mg-user-col">

            </div>
            <div class="user-mg-user-col">

            </div>
            <div class="user-mg-user-col">

            </div>
            <div class="user-mg-user-col">

            </div>
            <div class="user-mg-user-col">

            </div>
            <div class="user-mg-user-col">

            </div>
            <div class="user-mg-user-col">

            </div>
            <div class="user-mg-user-col">

            </div>
            <div class="user-mg-user-col">

            </div>
            <div class="user-mg-user-col">

            </div>
        </div>
    </div>
</section>